<h1>Choose your favorites!</h1>

<%= form_tag favorites_path do %>
    <% @snacks.each do |s| %>
        <div>
            <%= check_box_tag "snack_ids[]", s.id, current_user.snacks.include?(s) %>
            <%= s.name %>

        </div>
    <% end %>
    <%= submit_tag "Submit" %>

<% end %>